In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('PlayTennis.csv')

In [4]:
df.head()

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

In [7]:
total_samples = len(df)

In [8]:
p_of_no = len(df[df['Play Tennis']=='No'])/total_samples
p_of_no

0.35714285714285715

In [9]:
p_of_yes = len(df[df['Play Tennis']=='Yes'])/total_samples
p_of_yes

0.6428571428571429

In [12]:
(list((df['Outlook']=='Sunny') & (df['Play Tennis']=='Yes')).count(True))/len(df['Outlook']=='Sunny')

0.14285714285714285

In [13]:
dictary  = {'Outlook':{'Sunny':2,'Rain':5,'Overcast':7}}

In [15]:
dictary['Outlook']['Sunny']

2